@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  box-sizing: border-box;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

img, Image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.wrapper {
  @apply max-w-7xl mx-auto px-4
};

.post {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, auto));
    /* justify-content:  left; */
    gap: 8px;
    row-gap: 16px;
};
.post_footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    /* justify-content:  left; */
    gap: 8px;
    row-gap: 16px;
};
.post {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, auto));
    /* justify-content:  left; */
    gap: 8px;
    row-gap: 16px;
};

.footer_article {
  @apply text-sm text-gray-100 font-light tracking-wide
}
.footer_title {
  @apply text-sm text-gray-100 font-bold tracking-wide capitalize
}