.slider-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.container {
    display: flex;
    min-width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
}
.container::-webkit-scrollbar {
    display: none;
}

.card {
    flex: 0 0 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-type: start;
}

.controls {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    cursor: pointer;
}